body{
   background: white;
}

/*head*/
.register-head{
	background:#3b9bff;
	height:1.98rem;
}
.head-img{
	margin: 0 auto;
	height:0.7rem;
	width: 1.3rem;
	vertical-align: middle;
	padding-top:0.19rem;
}
.head-img img{
	width:100%;
	height:auto;
}
/*body*/
.register-list{
	background: white;
	padding: 0.15rem 0;
}
.message-phone{
	display: flex;
	height:0.55rem;
	border-bottom: 1px solid #eee;
}
.message-phone img{
	display: block;
	height:0.25rem;
	width: 0.25rem;
	padding:0.15rem 0.18rem;
}
.message-phone input{
	display: block;
	flex: 1;
	color:#535c68;
	font-size: 0.15rem;
	outline: none;
	border: solid 0px;
}
 input::-webkit-input-placeholder{
 	color: #ccc;
 }
.register-foot{
	padding:0.2rem;
}
.foot-button{
	display: block;
	height:0.53rem;
	background:#3b9bff;
	font-size:0.16rem;
	color: white;
	width:100%;
	border: solid 0px;
	outline: none;
	border-radius: 0.1rem;
}
.foot-text{
	padding: 0.2rem 0;
	display: flex;
	justify-content: space-between;
}
.foot-text a{
	display: block;
	font-size: 0.13rem;
	color: #3B9BFF;
}
.message-phone .code{
	width: 0.7rem;
	height: 0.3rem;
	text-align: center;
	line-height: 0.28rem;
	background:url(../img/yybimg/微信截图_20171024145727.png) no-repeat;
	margin: 0.15rem 0.15rem;
	color: red;
	font-size: 0.15rem;
	letter-spacing: 0.05rem;
	overflow: hidden;
}
/*提示框*/
#hick{
  position: fixed;
  width:80%;
  margin: 0 auto;
  top:45.5%;
  left:10%;
  height:0.4rem;
  border-radius:0.1rem;
  line-height: 0.4rem;
  font-size:0.2rem;
  text-align:center;
  background:rgba(0,0,0,0);
  color:white;
}




/*foot*/
.dlfooter{
	margin:0.7rem 0 0;
	border-top: 1px solid #ccc;
}
.dlfooter a{
	color: #3B9BFF;
	display: block;
	padding: 0.1rem 0;
	text-align: center;
	font-size: 0.15rem;
}

